body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
   background-color: #333;
   height: 60px;
   padding-top:15px;
   padding-bottom: 10px;
    
  }
  
  .room-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .description, .amenities, .gallery {
    margin-bottom: 30px;
  }
  
  .description h2, .amenities h2, .gallery h2 {
    color: #333;
  }
  
  .photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
  }
  
  .photos img {
    width: 100%;
    height: auto;
  }
  

  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer p {
    margin: 0;
  }
  